* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(assets/burger-friends.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-pages {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(225, 225, 225, .9);
  height: 400px;
  width: 500px;
}

.whole {
  display: flex;
  justify-content: center;
  justify-content:space-evenly;
  margin-top: 90px;
}
.header {
  display: flex;
  height: 80px;
  background-color: teal;
  margin-top: -180px;
  margin-left: -2px;
  margin-right: -10px;
}

h2 {
  margin-top: 40px;
  margin-left: 40px;
}

.recipe-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: red;
}

.you-should-make {
  font-style: italic;
  margin: auto;
  position: center;
  margin-top: 150px;
}

.food-section {
  font-size: 40px;
  margin-bottom: -29%;
  text-align: center;
}

.cookpot-img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
}

#main-dish,
#side,
#dessert {
  margin-bottom: 20px;
}

.lets-cook-btn {
  background-color: teal;
  margin-left: 40px;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 5px;
}

.main {
  background-color: rgba(225, 225, 225, .9);
  height: 400px;
  width: 500px;
  
}

.recipe-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(225, 225, 225, .9);
  height: 400px;
  width: 500px;
}

.submit-button {
  margin-top: 20px;
  background-color: teal;
  height: 30px;
  width: 120px;
  margin-right: -8px;
}

.login-page {
  margin-bottom: 70px;
}

#user-name {
  font-style: italic;
  margin-left: -25px;
}

#welcome-message {
  position: fixed;
  right: 20px;
  margin-top: -50px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}
/* * {
  border: 1px solid red;
} */
/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

